[project]
	description = Air Control Tower Game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lwazny
[access "refs/for/refs/*"]
	read = group user/lwazny
	push = group user/lwazny
	label-Code-Review = -2..+2 group user/lwazny
	label-Verified = -1..+1 group user/lwazny
	rebase = group user/lwazny
	removeReviewer = group user/lwazny
	submit = group user/lwazny
[access "refs/heads/*"]
	read = group user/lwazny
	create = group user/lwazny
	push = +force group user/lwazny
	pushMerge = group user/lwazny
[access "refs/tags/*"]
	push = +force group user/lwazny
	pushTag = group user/lwazny
	pushSignedTag = group user/lwazny
